<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potato Disease Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="User Icon">
                <span>Kunu02</span>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="landing-page">
            <div class="hero-image">
                <div class="overlay">
                    <h1>POTATO DISEASE CLASSIFICATION</h1>
                    <p>Discover state-of-the-art tools for rapid identification and classification of potato diseases. With user-friendly interfaces and precise results, we empower farmers to swiftly address issues, ensuring healthier crops and higher yields. Explore now to safeguard the future of potato cultivation!</p>
                    <button id="test-btn">TEST NOW!!!</button>
                </div>
            </div>
        </div>

        <div id="test-page" class="hidden">
            <div class="test-container">
                <h2 class="text">Test Leaf Image</h2>
                <div class="image-container">
                    <img id="preview-image" src="" alt="Preview">
                    <label for="image-input">Upload Image</label>
                    <input id="image-input" type="file" accept="image/*">
                </div>
                <div id="result-container">
                    <h3 id="result-text"></h3>
                    <div id="percentage-container"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>